@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    color: #333;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #4681c3;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 5%;
    background-color: #FFF;
}

.title {
    text-align: center;
    margin-bottom: 1em;
}
.commonForm {
    flex-direction: column;
}

form {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #666;
}

input[type="text"],
input[type="password"] {
    text-indent: 5px;
    margin-bottom: 1.2em;
    border-radius: 5px;
}

input[type="text"],
input[type="password"] {
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    padding: 0.5rem;
    border: 1px solid #333;

}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
.logoutButton {
    padding: 0.5rem;
    background-color: transparent;
    font-size: 19px;
    font-weight: 700;
    color: #0b308c;
    text-decoration: underline;
}
.submitButton {
    font-size: 19px;
    padding: 0.5rem;
    background-color: #0b308c;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
    margin-bottom: 1.2em;
    border: none;
}

.valid {
    border: 2px solid #f44336;
}

.changeButton {
    background-color: transparent;
    padding: 0.3em;
    text-decoration: underline;
    color: #0b308c;
    font-weight: 700;
}

.changeMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    font-size: 16px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

/* todos */
.todoFormWrap section {
    justify-content: flex-start;
}
.todoForm {
    width: 100%;
    border-radius: 3px;
    height: 4rem;
}

.todoForm input {
    flex: 1 1 80%;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.todoForm .registerButton {
    border-radius: 0 5px 5px 0;
    background-color: #0b308c;
    flex: 1 1 20%;
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
}
.todoForm input[type="text"],
.todoForm input[type="password"] {
    margin-bottom: 0;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #0b308c;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.1em;
    color: #1A0908FF;
}
.todoListButtonWrap {
    display: flex;
    gap: 10px;
}
li button {
    padding: 0 8px 0 8px;
    border-radius: 5px;
    cursor: pointer;
}
.delete {
    background-color: #0b308c;
    color: #FFF;
}